body {
  background-color: #fefcfb;
  font-family: 'Segoe UI', sans-serif;
  color: #1e1e1e;
  text-align: center;
  margin: 0;
  padding: 0;
  direction: rtl;
  padding-top: 80px; /* מוסיף רווח כדי לא לחפוף ל-navbar */
}

h1 {
  color: #7B5FFF;
  margin-top: 0;
  font-size: 2.4rem;
}

p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
}

img {
  width: 100%;
  max-width: 550px;
  border-radius: 12px;
  margin-top: 20px;
}

a {
  color: #7B5FFF;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 30px;
  transition: color 0.3s;
}

a:hover {
  color: #7B5FFF;
}
