body {
  background-color: #fefcfb;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  direction: rtl;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #fff;
  border: 2px solid #7B5FFF;
  border-radius: 20px;
  padding: 40px 30px;
  width: 340px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  text-align: right;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #5C33F6;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3D1ECC;
}
